@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --color-base-brand: rgba(2, 128, 255, 1);
  --color-base-background: rgba(20, 20, 20, 1);
  --color-base-red: rgba(255, 69, 58, 1);
  --color-base-blue: rgba(2, 128, 255, 1);
  --color-base-orange: rgba(255, 159, 10, 1);
  --color-base-yellow: rgba(255, 214, 10, 1);
  --color-base-green: rgba(31, 136, 61, 1);
  --color-base-mint: rgba(102, 212, 207, 1);
  --color-base-teal: rgba(106, 196, 220, 1);
  --color-base-cyan: rgba(90, 200, 245, 1);
  --color-base-indigo: rgba(94, 92, 230, 1);
  --color-base-purple: rgba(191, 90, 242, 1);
  --color-base-pink: rgba(255, 55, 95, 1);
  --color-base-brown: rgba(172, 142, 104, 1);
  --color-base-gray: rgba(128, 128, 128, 1);
  --color-base-black: rgba(0, 0, 0, 1);
  --color-base-white: rgba(255, 255, 255, 1);
  --color-base-transparent: rgba(0, 0, 0, 0);

  --color-text-primary: rgba(255, 255, 255, 1);
  --color-text-primary-invert: rgba(10, 10, 10, 1);
  --color-text-secondary: rgba(204, 204, 204, 1);
  --color-text-tertiary: rgba(153, 153, 153, 1);

  --color-control-rest: rgba(255, 255, 255, 0.05);
  --color-control-focus: --color-base-brand;
  --color-control-hover: rgba(255, 255, 255, 0.1);
  --color-control-selected: var(--color-base-white);
  --color-control-selected-invert: rgba(0, 0, 0, 0.1);
  --color-control-disabled: rgba(255, 255, 255, 0.02);
  --color-control-separator: rgba(255, 255, 255, 0.05);
  --color-control-separator-invert: rgba(0, 0, 0, 0.25);

  --color-component-glass: rgba(36, 36, 36, 0.5);
  --color-component-regular: rgba(0, 0, 0, 0.5);

  --font-family: 'Quicksand', sans-serif;
  --font-family-code: 'Roboto Mono', monospace;

  --font-size-title-large: 4.5rem;
  --font-size-title-medium: 3rem;
  --font-size-title-small: 2rem;

  --font-size-heading-large: 1.5rem;
  --font-size-heading-small: 1.25rem;

  --font-size-body: 1rem;

  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-regular: 400;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  color: var(--color-text-primary);
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  font-family: var(--font-family);
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;

  max-width: 100vw;
  min-height: 100dvh;
  overflow-x: hidden;

  background-color: var(--color-base-background);

  display: flex;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

code {
  font-family: var(--font-family-code);
}

span {
  display: inline-flex;
}

a {
  text-decoration: none;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root {
  isolation: isolate;
  min-height: 100%;
  flex: 1;
}

/*--------------------------------*\
  => Typography
\*--------------------------------*/

.title-large {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-large);
}

.title-medium {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-medium);
}

.title-small {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-small);
}

.heading-large {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-heading-large);
}

.heading-small {
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-heading-small);
}

.body-base {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
}

.body-strong {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
}

.body-base-slim {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: 1;
}

.body-strong-slim {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body);
  line-height: 1;
}

.body-code {
  font-family: var(--font-family-code);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: 1;
}

.body-link {
  color: var(--color-base-brand);
  font-weight: var(--font-weight-semi-bold);
  font-size: var(--font-size-body);
  line-height: 1;
}

.text-primary {
  color: var(--color-text-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-tertiary {
  color: var(--color-text-tertiary);
}

/*--------------------------------*\
  => Button Reset
\*--------------------------------*/

button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  user-select: none;
}

/*--------------------------------*\
  => Glass
\*--------------------------------*/

.glass {
  background: var(--color-component-glass);
  box-shadow:
    inset 0 0 0 1px var(--color-control-separator),
    0 4px 4px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
}
