.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transform: translateY(-50%);
  top: 50%;
  left: 2rem;
}

.main {
  margin: 0rem 8rem;
}