.link {
  text-decoration: underline;
  color: var(--color-base-brand);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.25rem;
  width: max-content;
  border-radius: 99rem;

  &:hover {
    background: var(--color-control-hover);
  }

  &:active {
    background: var(--color-control-selected);
    color: var(--color-text-primary-invert);
  }
}

.size-small {
  height: 1.25rem;
}

.size-large {
  height: 1.5rem;
}